<script setup>
useHead({
  bodyAttrs: {
    class: "min-h-screen"
  }
});
</script>
<template>
  <div class="flex flex-col items-center p-8">
    <div class="max-w-[400px] w-full rounded-3xl ring-[10px] ring-mbrian bg-mbrian">
      <AppHero />
      <div class=" bg-white rounded-3xl px-4 py-6">
        <NuxtPage />
      </div>
      <AppFooter />
    </div>
  </div>
</template>
