<script setup>
defineProps({
    title: String,
    links: Array
})
</script>
<template>
    <div class="flex flex-col gap-5">
        <h1 class="font-cairo font-extrabold text-xl text-mbrian text-center tracking-wide my-2">
            {{ title }}
        </h1>
        <AppLink v-for="link in links" :key="link.title" :title="link.title" :url="link.url" />
    </div>
</template>