<template>
    <div class="flex flex-col bg-mbrian rounded-b-3xl">
        <p class="font-sans font-normal text-sm text-white text-center w-fit mx-auto py-2">
            Copyright © Muhammad Brian Ivan Haris
        </p>
    </div>
</template>
