<script setup>
defineProps({
    title: String,
    url: String,
})
</script>
<template>
    <a :href="url"
        class="py-3 px-4 rounded-3xl ring-2 ring-mbrian flex flex-row items-center relative hover:bg-mbrian group">
        <div class="font-sans font-semibold text-base text-mbrian tracking-wide w-full group-hover:text-white">
            {{ title }}
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 stroke-mbrian group-hover:stroke-white">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
        </svg>
    </a>
</template>