<script setup>
useHead({
  title: "Certification | MBrian Website - Professional Website Developer",
  meta: [
    {
      name: "description",
      content:
        "Certification and experience that I have achieved during study and work",
    },
    {
      name: "keywords",
      content:
        "MBrian Website, Website Developer, Front-End, Muhammad Brian Ivan Haris",
    },
    { name: "og:image", content: "https://mbrian.my.id/mbrianwebsite.jpg" },
    { property: "og:type", content: "website" },
    { property: "og:url", content: "https://mbrian.my.id/certification" },
    {
      property: "og:title",
      content:
        "Certification | MBrian Website - Professional Website Developer",
    },
    {
      property: "og:description",
      content:
        "Certification and experience that I have achieved during study and work",
    },
    { property: "og:image", content: "https://mbrian.my.id/mbrianwebsite.jpg" },
    { property: "twitter:card", content: "summary_large_image" },
    { property: "twitter:url", content: "https://mbrian.my.id/certification" },
    {
      property: "twitter:title",
      content:
        "Certification | MBrian Website - Professional Website Developer",
    },
    {
      property: "twitter:description",
      content:
        "Certification and experience that I have achieved during study and work",
    },
    {
      property: "twitter:image",
      content: "https://mbrian.my.id/mbrianwebsite.jpg",
    },
  ],
});

const title = "Certification";
const links = [
  {
    title: "Create React Website [Amandemy] (2023)",
    url: "https://api.amandemy.co.id/storage/certificates//courses/2692f4e0-bbc7-11ed-8104-3bf008f29676/3dd21f70-ba3c-11ed-91e9-49e66568eeb3_2023-07-04.pdf",
  },
  {
    title: "The Nuxt 3 Bootcamp [Udemy] (2023)",
    url: "https://ude.my/UC-27c15fe2-5ab5-4780-8c0b-994f6f459cbf/",
  },
  {
    title: "Bootcamp Laravel NuxtJS [BWA] (2023)",
    url: "https://class.buildwithangga.com/talent/mbrianwebsite/bootcamp-laravel-nuxtjs-bangun-sistem-informasi-hris",
  },
  {
    title: "The Vue 3 Bootcamp [Udemy] (2023)",
    url: "https://www.udemy.com/certificate/UC-6b165f85-b556-499d-8ba8-b703e363c1e9/",
  },
  {
    title: "Mastering Vue JS 3 [BWA] (2023)",
    url: "https://buildwithangga.com/talent/mbrianwebsite/bootcamp-front-end-developer-mastering-vue-js-3",
  },
  {
    title: "The Nest JS Bootcamp [Udemy] (2023)",
    url: "https://www.udemy.com/certificate/UC-8704f2db-04a4-4d89-9a35-7fbbaa512e1a/",
  },
  {
    title: "Create React Website Product Catalogue From Zero [Amandemy] (2023)",
    url: "https://api.amandemy.co.id/storage/certificates//courses/2692f4e0-bbc7-11ed-8104-3bf008f29676/3dd21f70-ba3c-11ed-91e9-49e66568eeb3_2023-07-04.pdf",
  },
  {
    title: "Fundamental Web Security [BelajarSiber] (2022)",
    url: "https://drive.google.com/file/d/120FSIeDFpX9sRssnkf5HGOacbCfoBQgi/view",
  },
  {
    title: "Complete Web Designer [BWA] (2022)",
    url: "https://buildwithangga.com/talent/mbrianwebsite/complete-web-designer-in-2022-with-figma",
  },
  {
    title: "UI/UX Design Mastery [Skilvul] (2022)",
    url: "https://skilvul.com/courses/uiux-design-mastery/student/mbrianwebsite",
  },
  {
    title: "Complete Figma Web Design Course [Udemy] (2021)",
    url: "https://ude.my/UC-22c81c33-087e-4ca3-ae77-4cc3e7d82000/",
  },
];
</script>
<template>
  <AppContent :title="title" :links="links" />
</template>
