<script setup>
useHead({
    title: "Contact | MBrian Website - Professional Website Developer",
    meta: [
        {
            name: "description",
            content: "Hey there! We'd love to hear from you. Feel free to reach out to us anytime.",
        },
        {
            name: "keywords",
            content:
                "MBrian Website, Website Developer, Front-End, Muhammad Brian Ivan Haris",
        },
        { name: "og:image", content: "https://mbrian.my.id/mbrianwebsite.jpg" },
        { property: "og:type", content: "website" },
        { property: "og:url", content: "https://mbrian.my.id/contact" },
        {
            property: "og:title",
            content: "Contact | MBrian Website - Professional Website Developer",
        },
        {
            property: "og:description",
            content: "Hey there! We'd love to hear from you. Feel free to reach out to us anytime",
        },
        { property: "og:image", content: "https://mbrian.my.id/mbrianwebsite.jpg" },
        { property: "twitter:card", content: "summary_large_image" },
        { property: "twitter:url", content: "https://mbrian.my.id/contact" },
        {
            property: "twitter:title",
            content: "Contact | MBrian Website - Professional Website Developer",
        },
        {
            property: "twitter:description",
            content: "Hey there! We'd love to hear from you. Feel free to reach out to us anytime.",
        },
        {
            property: "twitter:image",
            content: "https://mbrian.my.id/mbrianwebsite.jpg",
        },
    ],
})

const title = "Contact";
const links = [
    {
        title: "WhatsApp",
        url: "https://wa.me/6285749830344",
        icon: "/wa.svg"
    },
    {
        title: "Instagram",
        url: "https://Instagram.com/mbrianwebsite"
    },
    {
        title: "Email",
        url: "mailto:mbrianwebsite@gmail.com"
    },
    {
        title: "LinkedIn",
        url: "https://www.linkedin.com/in/muhammad-brian-ivan-haris/"
    },
];

</script>
<template>
    <AppContent :title="title" :links="links" />
</template>