<script setup>
useHead({
    title: "MBrian Website - Professional Website Developer ",
    meta: [
        {
            name: "description",
            content:
                "I am a professional website developer that provides digital transformation solutions for your business",
        },
        {
            name: "keywords",
            content:
                "MBrian Website, Website Developer, Front-End, Muhammad Brian Ivan Haris",
        },
        { name: "og:image", content: "https://mbrian.my.id/mbrianwebsite.jpg" },
        { property: "og:type", content: "website" },
        { property: "og:url", content: "https://mbrian.my.id/" },
        {
            property: "og:title",
            content: "MBrian Website - Professional Website Developer",
        },
        {
            property: "og:description",
            content:
                "I am a professional website developer that provides digital transformation solutions for your business",
        },
        { property: "og:image", content: "https://mbrian.my.id/mbrianwebsite.jpg" },
        { property: "twitter:card", content: "summary_large_image" },
        { property: "twitter:url", content: "https://mbrian.my.id/" },
        {
            property: "twitter:title",
            content: "MBrian Website - Professional Website Developer",
        },
        {
            property: "twitter:description",
            content:
                "I am a professional website developer that provides digital transformation solutions for your business",
        },
        {
            property: "twitter:image",
            content: "https://mbrian.my.id/mbrianwebsite.jpg",
        },
    ],
});
</script>
<template>
    <div class="flex flex-col">
        <h1 class="font-cairo font-extrabold text-xl text-mbrian text-center tracking-wide my-2">
            Hi!, I'm Brian
        </h1>
        <p
            class="font-sans font-medium text-base text-mbrian tracking-widew-fit h-fit mx-auto px-3 text-justify indent-8 mt-1">
            I am a professional website developer that provides digital transformation
            solutions for your business.
        </p>
        <p
            class="font-sans font-medium text-base text-mbrian tracking-widew-fit h-fit mx-auto px-3 text-justify indent-8 mt-1">
            As a passionate and skilled web developer, I specialize in creating
            websites for marketing activities using cutting-edge technologies like
            Nuxt, Vue, React, Tailwind, WordPress, Blogspot, Google Ads, and SEO
            technique.
        </p>
        <p
            class="font-sans font-medium text-base text-mbrian tracking-widew-fit h-fit mx-auto px-3 text-justify indent-8 mt-1 mb-2">
            Whether you need a dynamic web application, or a beautifully static
            website that impact your bussiness, I'm here to bring your ideas to life!
        </p>
    </div>
    <NuxtLink to="/contact"
        class="py-3 px-4 mt-4 rounded-3xl ring-2 ring-mbrian flex flex-row items-center relative hover:bg-mbrian group">
        <div class="font-sans font-semibold text-base text-mbrian tracking-wide w-full group-hover:text-white">
            Lets talk!
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 stroke-mbrian group-hover:stroke-white">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
        </svg>
    </NuxtLink>
</template>
