<script setup>
useHead({
    title: "Portfolio | MBrian Website - Professional Website Developer",
    meta: [
        {
            name: "description",
            content: "All Projects are permitted to be posted in public",
        },
        {
            name: "keywords",
            content:
                "MBrian Website, Website Developer, Front-End, Muhammad Brian Ivan Haris",
        },
        { name: "og:image", content: "https://mbrian.my.id/mbrianwebsite.jpg" },
        { property: "og:type", content: "website" },
        { property: "og:url", content: "https://mbrian.my.id/portfolio" },
        {
            property: "og:title",
            content: "Portfolio | MBrian Website - Professional Website Developer",
        },
        {
            property: "og:description",
            content: "All Projects are permitted to be posted in public",
        },
        { property: "og:image", content: "https://mbrian.my.id/mbrianwebsite.jpg" },
        { property: "twitter:card", content: "summary_large_image" },
        { property: "twitter:url", content: "https://mbrian.my.id/portfolio" },
        {
            property: "twitter:title",
            content: "Portfolio | MBrian Website - Professional Website Developer",
        },
        {
            property: "twitter:description",
            content: "All Projects are permitted to be posted in public",
        },
        {
            property: "twitter:image",
            content: "https://mbrian.my.id/mbrianwebsite.jpg",
        },
    ],
})

const title = "Portfolio";
const links = [
    {
        title: "Al-Qur'an-ul Karim (Vue App)",
        url: "https://alquranulkarim.com"
    },
    {
        title: "Thaiba Craft (Vue Website)",
        url: "https://thaibacraft.com"
    },
    {
        title: "Disenkan (Vue Website)",
        url: "https://disenkan.com"
    },
    {
        title: "Future Living (Nuxt Website)",
        url: "https://future-living.netlify.app"
    },
    {
        title: "Bio Link (This site)",
        url: "#"
    },
    {
        title: "Product Catalog (React Website)",
        url: "https://catalog-reactjs18-mbrianwebsite.netlify.app/"
    },
    {
        title: "MBrian Website (Blogspot Blog)",
        url: "https://mbrianwebsite.com"
    },
    {
        title: "Pesantren Sehat (Blogspot Blog)",
        url: "https://pesantrensehat.com"
    },
    {
        title: "Jenius Properti Grup (Blogspot Blog)",
        url: "https://jepege.id"
    },
    {
        title: "MBrian Store (Blogspot Store)",
        url: "https://store.mbrian.my.id/"
    },
    {
        title: "Abdurrahman Dani (Wordpress Blog)",
        url: "https://abdurrahmandani.com/"
    },
    {
        title: "Al Lisan Al Arabi (Wordpress Website) ",
        url: "https://allisan.id"
    },
];

</script>
<template>
    <AppContent :title="title" :links="links" />
</template>