<script setup>
useHead({
    title: "Service | MBrian Website - Professional Website Developer",
    meta: [
        {
            name: "description",
            content: "Whether you need a dynamic web application, or a beautifully static website that impact your bussiness, I'm here to bring your ideas to life!",
        },
        {
            name: "keywords",
            content:
                "MBrian Website, Website Developer, Front-End, Muhammad Brian Ivan Haris",
        },
        { name: "og:image", content: "https://mbrian.my.id/mbrianwebsite.jpg" },
        { property: "og:type", content: "website" },
        { property: "og:url", content: "https://mbrian.my.id/service" },
        {
            property: "og:title",
            content: "Service | MBrian Website - Professional Website Developer",
        },
        {
            property: "og:description",
            content: "Whether you need a dynamic web application, or a beautifully static website that impact your bussiness, I'm here to bring your ideas to life!",
        },
        { property: "og:image", content: "https://mbrian.my.id/mbrianwebsite.jpg" },
        { property: "twitter:card", content: "summary_large_image" },
        { property: "twitter:url", content: "https://mbrian.my.id/service" },
        {
            property: "twitter:title",
            content: "Service | MBrian Website - Professional Website Developer",
        },
        {
            property: "twitter:description",
            content: "Whether you need a dynamic web application, or a beautifully static website that impact your bussiness, I'm here to bring your ideas to life!",
        },
        {
            property: "twitter:image",
            content: "https://mbrian.my.id/mbrianwebsite.jpg",
        },
    ],
})

const title = "Service";
const links = [
    {
        title: "Application Development (Vue/React)",
        url: "https://www.mbrianwebsite.com/2023/07/application-development-service-vue.html"
    },
    {
        title: "Website Development (Nuxt)",
        url: "https://www.mbrianwebsite.com/2023/07/website-development-service-nuxt.html"
    },
    {
        title: "Wordpress Site Development",
        url: "https://www.mbrianwebsite.com/2023/07/wordpress-website-development-service.html"
    },
    {
        title: "Blogspot Blogger Development",
        url: "https://www.mbrianwebsite.com/2023/07/blogspot-blogger-development-service.html"
    }, {
        title: "SEO (Organic)",
        url: "https://www.mbrianwebsite.com/2023/07/seo-service.html"
    },
    {
        title: "SEM (Google Ads)",
        url: "https://www.mbrianwebsite.com/2023/07/search-engine-marketing-service-google.html"
    },
    {
        title: "Consultation",
        url: "https://wa.me/6285749830344"
    },
];

</script>
<template>
    <AppContent :title="title" :links="links" />
</template>
